{% extends 'generic.html' %}

{% block content %}
    <h2>Add Book</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Changes</button>
    </form>

    <br>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                {% if 'book-added-success' in message.tags %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
