{% extends "generic.html" %}

{% block content %}
    <h1>All borrowed books</h1>
    {% if perms.books_catalog.can_mark_returned %}
        {% if bookinstance_list_all %}
            {% for bookinst in bookinstance_list_all %}
                <div class="card mt-4 p-3">
                    <div class="row">
                        <div class="col-md-2">
                            <ul style="list-style-type: none;">
                                <li>
                                    {% if bookinst.book.cover_image %}
                                        <img src="{{ bookinst.book.cover_image.url }}" alt="{{ bookinst.book.title }}"
                                             class="img-fluid" style="height: 200px; object-fit: cover;"/>
                                    {% else %}
                                        <p>No cover image available</p>
                                    {% endif %}
                                    <br>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <ul style="list-style-type: none;">
                                <li>
                                    <h3>
                                        <a href="{% url 'books_catalog:book-detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a>
                                    </h3>
                                </li>
                                <li>Borrowed by {{ bookinst.borrower }}</li>
                                <li>Due on {{ bookinst.due_date }}</li>
                                <li>ISBN: {{ bookinst.book.isbn }}</li>
                                <br>
                                <li>{{ bookinst.book.summary }}</li>
                                <br>
                                <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
                                    {% if bookinst.is_overdue %}
                                        <p>
                                            Overdue by: {{ bookinst.overdue_by }} days. Late
                                            fee: {{ bookinst.late_fee }}
                                        </p>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}

        {% else %}
            <p>There are no books borrowed.</p>
        {% endif %}
    {% else %}
        <h1>You are not a librarian. No access for you.</h1>
    {% endif %}
{% endblock %}
