{% extends "generic.html" %}

{% block content %}
    <h1>Borrowed Books</h1>

    {% if bookinstance_list %}
        <table class="table table-striped table-bordered">
            <tbody>
            {% for bookinst in bookinstance_list %}
                <tr class="{% if bookinst.is_overdue %}table-danger{% endif %}">
                    <!-- Book Cover -->
                    <td class="text-center align-middle" style="width: 120px;">
                        <img src="{{ bookinst.book.cover_image.url }}" alt="{{ bookinst.book.title }}"
                             class="img-fluid" style="max-width: 100px;">
                    </td>

                    <!-- Book Title -->
                    <td>
                        <a href="{% url 'books_catalog:book-detail' bookinst.book.pk %}">
                            {{ bookinst.book.title }}
                        </a>
                        <br>
                        by {{ bookinst.book.author }}
                        <br>
                        (Due date: {{ bookinst.due_date }})
                    </td>

                    <td class="text-center align-middle">
                        <a href="{% url 'books_catalog:return-book' bookinst.id %}" class="btn btn-primary">
                            Return Book
                        </a>
                    </td>

                    {% if bookinst.is_overdue %}
                        <td>
                            <p>Overdue by: {{ bookinst.overdue_by }} days</p>
                            <p>Late fee: {{ bookinst.total_late_fee }}</p>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have not borrowed any books.</p>
        <p>See books that you have <a href="{% url 'books_catalog:issue-history' %}">previously borrowed</a></p>
    {% endif %}
{% endblock %}
