{% extends 'generic.html' %}

{% block content %}
    <div style="margin-left:20px;margin-top:20px">

        <div class="card mt-4 p-3">
            <div class="row">
                <div class="col-md-2">
                    {% if book.cover_image %}
                        <img src="{{ book.cover_image.url }}" alt="{{ book.title }}" class="img-fluid"
                             style="height: 200px; object-fit: cover;"/>
                    {% else %}
                        <p>No cover image available</p>
                    {% endif %}

                    <!-- User's rating form -->
                    {% if user.is_authenticated %}
                        {% if can_rate %}
                            {% if not user_rating %}
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.value }}
                                    <br>
                                    <button type="submit">Submit Rating</button>
                                </form>
                            {% else %}
                                <p>{{ user_rating.value }} star{{ user_rating.value|pluralize }}</p>
                            {% endif %}
                        {% else %}
                            <p>You can only rate a book that you have borrowed.</p>
                        {% endif %}
                    {% else %}
                        <p><a href="{% url 'account_login' %}">Log in</a> to rate this book.</p>
                    {% endif %}

                    <br>
                    <br>

                    {#                    {% if not perms.books_catalog.can_mark_returned %}#}
                    {#                        <a href="{% url 'books_catalog:feedback' pk=book.pk %}" class="btn btn-primary">Submit#}
                    {#                            Feedback</a>#}
                    {#                    {% else %}#}
                    {#                        <div class="card" style="width: 8em;">#}
                    {#                            <div class="card-body">#}
                    {#                                <p class="card-text">{{ average_rating|default:"No ratings yet" }}</p>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    {% endif %}#}
                    <div class="rating-section">
                    </div>
                </div>

                <div class="col-md-8">

                    <h1>{{ book.title }}</h1>
                    <p>
                        <strong>by</strong> <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a>
                        <br>
                        {{ average_rating|floatformat:1 }} / 5 ({{ num_ratings }} ratings)
                    </p>

                    <!-- author detail link not yet defined -->
                    <p><strong>Summary:</strong> {{ book.summary }}</p>
                    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
                    <p><strong>Language:</strong> {{ book.language }}</p>
                    <p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>
                </div>
            </div>
        </div>
        <br>

        <h4>Copies</h4>
        {% if available_copies_count > 0 %}
                <p class="text-muted">
                {{ available_copies_count }} available
                </p>
            {% for copy in book.bookinstance_set.all %}
                <hr/>
                <p
                        class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
                    {{ copy.get_status_display }}
                </p>
                {% if copy.status != 'a' %}
                    <p><strong>Due to be returned:</strong> {{ copy.due_date }}</p>
                {% elif copy.status == 'a' and user.is_authenticated and not perms.books_catalog.can_mark_returned %}
                    <p><a href="{% url 'books_catalog:borrow-book' copy.id %}" class="btn btn-primary">Borrow book</a>
                    </p>
                {% endif %}
                {% if perms.books_catalog.can_mark_returned %}
                    <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
                    <a href="{% url 'books_catalog:update-book' pk=book.pk %}" class="btn btn-primary">Edit</a>
                {% endif %}
            {% endfor %}
        {% else %}
            <hr/>
            <p class="text-warning">No copies available.</p>
        {% endif %}
    </div>


{% endblock %}
