{% extends "generic.html" %}

{% block content %}
    <h1>Borrowed books</h1>

    {% if bookinstance_list %}
        <ul>

            {% for bookinst in bookinstance_list %}
                <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
                    <a href="{% url 'books_catalog:book-detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a>
                    (Due date: {{ bookinst.due_date }})
                    <a href="{% url 'books_catalog:return-book' bookinst.id %}" class="btn btn-primary">Return
                        Book</a>
                    <p>
                    {% if bookinst.is_overdue %}
                        Overdue by: {{ bookinst.overdue_by }} days. Late fee: {{ bookinst.total_late_fee }}
                    {% endif %}
                    </p>
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>You have not borrowed any books.</p>
    {% endif %}
{% endblock %}
