{% extends 'generic.html' %}

{% block content %}
    <h1>Feedback for <i>{{ book.title }}</i></h1>

    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_subject">Subject:</label>
            {{ form.subject }}
        </div>

        <div>
            <label for="id_body">Feedback Body:</label>
            {{ form.body }}
        </div>
        <div>
            <label for="id_rating">Rating</label>
            {{ form.rating }}
        </div>
        <button type="submit">Submit Feedback</button>
    </form>

{% endblock %}
