{% extends 'generic.html' %}

{% block content %}
    <div class="profile-container">
        <h1>Welcome, {{ user.first_name }}!</h1>
        <table>
            <tr>
                <td>First Name:</td>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>{{ user.last_name }}</td>
            </tr>
            {% if perms.books_catalog.can_mark_returned %}
                <tr>
                    <td>PSRN:</td>
                    <td>{{ user.psrn }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>Room:</td>
                    <td>{{ user.room }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>Email:</td>
                <td>{{ user.email }}</td>
            </tr>
        </table>

        <br>
        <a href="{% url 'users:edit-profile' %}" class="btn btn-primary"
           style="text-decoration: none; padding: 10px 20px;">
            Edit Profile
        </a>

        {#        {% if not perms.books_catalog.can_mark_returned %}#}
        {#            <a href="{% url 'books_catalog:profile-books' %}">Your borrowed books</a>#}
        {#        {% endif %}#}


    </div>
{% endblock %}
