{% extends 'generic.html' %}
{% block content %}
    <div class="container py-5">
        <form method="POST">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                    {% csrf_token %}
                    {% if not perms.books_catalog.can_mark_returned %}
                        {% for field in form %}
                            <tr>
                                <td><label for="{{ field.id_for_label }}">{{ field.label }}:</label></td>
                                <td>{{ field }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if not perms.books_catalog.can_mark_returned %}
                    <button type="submit" class="btn btn-outline-primary">Save changes</button>
                {% endif %}
            </div>

            <hr class="my-4">

            <h2>Reading Log</h2>
            <p class="mb-3">
                Books that you are
                <a href="{% url 'books_catalog:profile-books' %}" class="text-decoration-none">currently reading</a>,
                <a href="{% url 'books_catalog:issue-history' %}" class="text-decoration-none">have already read</a>,
                and
                <a href="/" class="text-decoration-none">want to read</a>.
            </p>
        </form>
    </div>
{% endblock %}
