{% extends 'generic.html' %}

{% block content %}
    <div class="profile-container">
        <h1>Welcome, {{ user.first_name }}!</h1>
        <table>
            <tr>
                <td>First Name:</td>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>{{ user.last_name }}</td>
            </tr>
            {% if perms.books_catalog.can_mark_returned %}
                <tr>
                    <td>PSRN:</td>
                    <td>{{ user.psrn }}</td>
                </tr>
            {% endif %}

            {% if not perms.books_catalog.can_mark_returned %}
                {% for field in form %}
                    <tr>
                        <td><label for="{{ field.id_for_label }}">{{ field.label }}:</label></td>
                        <td>{{ field }}</td>
                    </tr>
                {% endfor %}
            {% endif %}

            <tr>
                <td>Email:</td>
                <td>{{ user.email }}</td>
            </tr>
        </table>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    {% if 'edit-profile-success' in message.tags %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}


        <button type="submit" class="btn btn-primary">Save changes</button>


        {#        {% if not perms.books_catalog.can_mark_returned %}#}
        {#            <a href="{% url 'books_catalog:profile-books' %}">Your borrowed books</a>#}
        {#        {% endif %}#}
    </div>
{% endblock %}
